@using BlazorCopilot1.Components
@page "/"

<!DOCTYPE html>
<html style="font-size: 16px;" lang="de">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Welcome in our career portal, Lets get in touch with our Porsche Talent Agent, Placeholder for Chatbot Window">
    <meta name="description" content="">
    <title>Job Offers</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
    <link rel="stylesheet" href="css/Job-Offers.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 5.18.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900">








    <script type="application/ld+json">
        {
                "@@context": "http://schema.org",
                "@@type": "Organization",
                "name": "",
                "logo": "images/Bildschirmfoto2023-09-20um12.00.27.png"
        }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Job Offers">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body data-home-page="Job-Offers.html" data-home-page-title="Job Offers" data-path-to-root="./" class="u-body u-xl-mode" data-lang="de">
    <header class="u-clearfix u-header u-header" id="sec-f307">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="686" data-image-height="408">
                <img src="images/Bildschirmfoto2023-09-20um12.00.27.png" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
                <div class="menu-collapse u-custom-font" style="font-size: 1rem; letter-spacing: 0px; font-family: &quot;Gothic A1&quot;; font-weight: 700;">
                    <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3e13"></use></svg>
                        <svg class="u-svg-content" version="1.1" id="svg-3e13" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container"></div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-1">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Job-Offers.html">Job Offers</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Speculative-application.html">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
            <nav class="u-menu u-menu-one-level u-offcanvas u-menu-2">
                <div class="menu-collapse u-custom-font" style="font-size: 1rem; letter-spacing: 0px; font-family: &quot;Gothic A1&quot;; font-weight: 700;">
                    <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
                        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
                        <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-custom-font u-nav u-unstyled u-nav-2">
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Job-Offers.html" style="padding: 10px 20px;">Job Offers</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Speculative-application.html" style="padding: 10px 20px;">Speculative application</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="My-career.html" style="padding: 10px 20px;">My career</a>
                        </li>
                        <li class="u-nav-item">
                            <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Job-subscription.html" style="padding: 10px 20px;">Job subscription</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-3">
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Job-Offers.html">Job Offers</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Speculative-application.html">Speculative application</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="My-career.html">My career</a>
                                </li>
                                <li class="u-nav-item">
                                    <a class="u-button-style u-nav-link" href="Job-subscription.html">Job subscription</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
                </div>
            </nav>
            <p class="u-custom-font u-text u-text-default u-text-1">EN&nbsp; &nbsp; &nbsp;Login</p>
        </div>
    </header>
    <section class="u-clearfix u-section-1" id="sec-f382">
        <div class="u-clearfix u-image u-sheet u-image-1" data-image-width="1170" data-image-height="369" src="images/nadine_layout"></div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-b73b">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <p class="u-custom-font u-text u-text-default u-text-1">Home / Job offers</p>
            <h1 class="u-custom-font u-text u-text-default u-text-2">Welcome in our career portal</h1>
            <p class="u-custom-font u-text u-text-default u-text-3"> Would you like to experience the fascination of Porsche?</p>
            <h3 class="u-custom-font u-text u-text-4">Meet our Porsche Talent Agent</h3>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="sec-78be">
        <div class="u-clearfix u-sheet u-sheet-1">
            <img class="u-expand-resize u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-1" data-image-width="2479" data-image-height="2475" src="images/ChatbotModified.png">
            <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-left u-border-2 u-border-grey-25 u-container-style u-list-item u-repeater-item u-white u-list-item-1">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <h4 class="u-text u-text-1">Time savings.</h4>
                            <p class="u-text u-text-default u-text-2"> Porsche Talent Agent analyzes your resume and matches it with job openings, saving you hours of research.</p>
                        </div>
                    </div>
                    <div class="u-align-left u-border-2 u-border-grey-25 u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <h4 class="u-text u-text-3">Efficient Search.</h4>
                            <p class="u-text u-text-default u-text-4"> Porsche Talent Agent streamlines your job search process and increases your chances of finding the right opportunity.</p>
                        </div>
                    </div>
                    <div class="u-align-left u-border-2 u-border-grey-25 u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <h4 class="u-text u-text-5">Personalized Recommendations.</h4>
                            <p class="u-text u-text-default u-text-6"> You'll receive tailored job suggestions that take your skills and preferences into account.</p>
                        </div>
                    </div>
                    <div class="u-align-left u-border-2 u-border-grey-25 u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <h4 class="u-text u-text-7">Interactive Communication.</h4>
                            <p class="u-text u-text-default u-text-8">Our Agent engages with you in real time, addressing your questions and concerns instantly.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="carousel_464b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-custom-font u-text u-text-1">Lets get in touch with our Porsche Talent Agent</h1>
            <p class="u-custom-font u-text u-text-default u-text-2"> The Porsche Talent Agent will find the right jobs based on your previous experience</p>
        </div>
    </section>
    <section class="u-border-2 u-border-grey-75 u-clearfix u-section-5" id="sec-92b4">
        <div class="u-clearfix u-sheet u-sheet-1">
            <Chat />
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-6" id="sec-96dc">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-1">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-border-2 u-border-grey-75 u-file-icon u-icon u-icon-circle u-text-custom-color-1 u-icon-1"><img src="images/8297861-3610a63a.png" alt=""></span>
                            <h3 class="u-text u-text-1">Upload CV</h3>
                            <p class="u-text u-text-2"> Upload your resume as a PDF file via drag n drop in the chatbot window</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-border-2 u-border-grey-75 u-file-icon u-icon u-icon-circle u-text-custom-color-1 u-icon-2"><img src="images/3820147-e3f99bc8.png" alt=""></span>
                            <h3 class="u-text u-text-3">Get recommendations</h3>
                            <p class="u-text u-text-4"> The chatbot will select matching jobs based on your resume</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-3">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-border-2 u-border-grey-75 u-file-icon u-icon u-icon-circle u-text-custom-color-1 u-icon-3"><img src="images/2717532-f79ad97d.png" alt=""></span>
                            <h3 class="u-text u-text-5">Ask about details</h3>
                            <p class="u-text u-text-6"> You can ask questions about the individual jobs, for example about vacation days or special tasks.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-4">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <span class="u-border-2 u-border-grey-75 u-file-icon u-icon u-icon-circle u-text-custom-color-1 u-icon-4"><img src="images/942833-c3f1d4fb.png" alt=""></span>
                            <h3 class="u-text u-text-7">Apply</h3>
                            <p class="u-text u-text-8"> As soon as you have found the right job, you can apply directly</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a4de">
        <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-custom-font u-small-text u-text u-text-variant u-text-1">2023 - Dr. Ing. h.c. F. Porsche AG</p>
        </div>
    </footer>
    <section class="u-backlink u-clearfix u-grey-80">
        <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
            <span>Website Templates</span>
        </a>
        <p class="u-text">
            <span>created with</span>
        </p>
        <a class="u-link" href="" target="_blank">
            <span>Website Builder Software</span>
        </a>.
    </section>

</body>
</html>